<%
  const options = [
    {
      label: 'Auto',
      description: 'Use whatever dark mode setting your browser is using',
      icon: {
        light: 'sun-auto',
        dark: 'moon-auto',
      },
      mode: 'auto',
    },
    {
      label: 'Light',
      description: 'Always use light mode (white background)',
      icon: 'sun',
      mode: 'light',
    },
    {
      label: 'Dark',
      description: 'Always use dark mode (black background)',
      icon: 'moon',
      mode: 'dark',
    },
  ];
%>

<div
  v-hide
  v-event:click.outside="clickedOutside"
  class="flex flex-col items-end relative"
>
  <button
    class="p-1 lg:p-2 text-gray-600 dark:text-gray-300"
    v-event:mouseover="mouseOverDarkMode"
    v-event:click="clickedDarkMode"
    aria-label="Open dark mode selector"
  >
    <div v-if="darkMode && mode === 'auto'">
      <%- include('/icons/moon-auto', { size: 24 }) %>
    </div>
    <div v-if="!darkMode && mode === 'auto'">
      <%- include('/icons/sun-auto', { size: 24 }) %>
    </div>
    <div v-if="mode === 'dark'">
      <%- include('/icons/moon', { size: 24 }) %>
    </div>
    <div v-if="mode === 'light'">
      <%- include('/icons/sun', { size: 24 }) %>
    </div>
  </button>

  <div
    v-if="showingModal"
    v-event:mouseleave="closeModal"
    class="absolute -mt-3 lg:-mt-2 -mr-1 lg:-mr-2 flex flex-col items-stretch rounded bg-white dark:bg-gray-800 py-2 border-2 shadow-xl space-y-1"
    role="dialog"
    aria-label="Dark mode selector"
    style="top: -2px; right: -2px;"
  >
    <% options.forEach((option, idx) => { %>
      <button
        v-event:click="setMode('<%= option.mode %>')"
        v-event:keydown.esc="closeModal"
        class="flex items-center hoverable:hover:bg-blue-100 hoverable:dark:hover:bg-gray-700 px-2 lg:px-4 py-2"
        aria-label="<%= option.description %>"
        aria-roledescription=""
        v-ref="<%= option.mode %>"
      >
        <!-- text-blue-600 dark:text-blue-500 text-gray-500 dark:text-gray-400 -->
        <p
          v-class:text-blue-600.dark:text-blue-400="mode === '<%= option.mode %>'"
          v-class:text-gray-500.dark:text-gray-400="mode !== '<%= option.mode %>'"
        >
          <% if (!!option.icon.light) { %>
            <span v-if="!systemDark">
              <%- include(`/icons/${option.icon.light}`, { size: 24 }) %>
            </span>
            <span v-if="systemDark">
              <%- include(`/icons/${option.icon.dark}`, { size: 24 }) %>
            </span>
          <% } else { %>
            <%- include(`/icons/${option.icon}`, { size: 24 }) %>
          <% } %>
        </p>
      </button>
    <% }); %>
  </div>
</div>
