<%
  const options = [
    {
      label: 'Auto',
      description: 'Use whatever setting your browser is using',
      icon: {
        light: 'sun-auto',
        dark: 'moon-auto',
      },
      mode: 'auto',
    },
    {
      label: 'Light',
      description: 'Always use light mode (white background)',
      icon: 'sun',
      mode: 'light',
    },
    {
      label: 'Dark',
      description: 'Always use dark mode (black background)',
      icon: 'moon',
      mode: 'dark',
    },
  ];
%>

<div class="absolute right-0 top-0 m-8 lg:m-12 flex flex-col items-end">
  <div
    class="p-1 lg:p-2"
    v-event:mouseover="mouseOverDarkMode"
    v-event:click="clickedDarkMode"
  >
    <div v-if="darkMode && mode === 'auto'">
      <%- include('/icons/moon-auto', { size: 24 }) %>
    </div>
    <div v-if="!darkMode && mode === 'auto'">
      <%- include('/icons/sun-auto', { size: 24 }) %>
    </div>
    <div v-if="mode === 'dark'">
      <%- include('/icons/moon', { size: 24 }) %>
    </div>
    <div v-if="mode === 'light'">
      <%- include('/icons/sun', { size: 24 }) %>
    </div>
  </div>
</div>

<div
  class="absolute right-0 top-0 m-3 lg:m-6"
  v-if="showingModal"
  v-event:mouseleave="showingModal = false"
>
  <div class="rounded bg-white border-2 border-gray-200 p-4 shadow-lg flex items-start dark:bg-gray-800 dark:border-gray-700">
    <% options.forEach((option, idx) => { %>
      <!--
        text-blue-600
        dark:text-blue-400
      -->
      <div
        class="flex flex-col items-center text-center lg:w-40 cursor-pointer hoverable:hover:bg-blue-100 hoverable:dark:hover:bg-gray-700 rounded p-4"
        v-class:text-blue-600="mode === '<%= option.mode %>'"
        v-class:dark:text-blue-400="mode === '<%= option.mode %>'"
        v-event:click="setMode('<%= option.mode %>')"
      >
        <% if (!!option.icon.light) { %>
          <%- include(`/icons/${option.icon.light}`, { size: 28, attr: 'v-if=!systemDark' }) %>
          <%- include(`/icons/${option.icon.dark}`, { size: 28, attr: 'v-if=systemDark' }) %>
        <% } else { %>
          <%- include(`/icons/${option.icon}`, { size: 28 }) %>
        <% } %>
        <!--
          text-blue-700
          dark:text-blue-400
        -->
        <p
          class="font-mono mt-4"
          v-class:text-blue-700="mode === '<%= option.mode %>'"
          v-class:dark:text-blue-400="mode === '<%= option.mode %>'"
        ><%= option.label %></p>
        <p class="text-sm text-black dark:text-white mt-2"><%= option.description %></p>
      </div>
    <% }); %>
  </div>
</div>