<%
  const options = [
    {
      label: 'Auto',
      description: 'Use whatever setting your browser is using',
      icon: {
        light: 'sun-auto',
        dark: 'moon-auto',
      },
      mode: 'auto',
    },
    {
      label: 'Light',
      description: 'Always use light mode (white background)',
      icon: 'sun',
      mode: 'light',
    },
    {
      label: 'Dark',
      description: 'Always use dark mode (black background)',
      icon: 'moon',
      mode: 'dark',
    },
  ];
%>

<div
  class="flex flex-col items-end"
  v-event:click.outside="clickedOutside"
>
  <button
    class="p-1 lg:p-2 text-gray-600 dark:text-gray-300"
    v-event:mouseover="mouseOverDarkMode"
    v-event:click="clickedDarkMode"
    aria-label="Open dark mode selector"
  >
    <div v-if="darkMode && mode === 'auto'">
      <%- include('/icons/moon-auto', { size: 24 }) %>
    </div>
    <div v-if="!darkMode && mode === 'auto'">
      <%- include('/icons/sun-auto', { size: 24 }) %>
    </div>
    <div v-if="mode === 'dark'">
      <%- include('/icons/moon', { size: 24 }) %>
    </div>
    <div v-if="mode === 'light'">
      <%- include('/icons/sun', { size: 24 }) %>
    </div>
  </button>
</div>

<div
  class="absolute right-0 top-0 m-3 lg:m-6"
  v-if="showingModal"
  v-event:mouseleave="closeModal"
>
  <div
    class="rounded bg-white border-2 border-gray-200 p-2 lg:p-4 shadow-lg flex items-start dark:bg-gray-800 dark:border-gray-700"
    role="dialog"
    aria-label="Dark mode selector"
  >
    <% options.forEach((option, idx) => { %>
      <!--
        text-gray-600
        dark:text-gray-300
        text-blue-600
        dark:text-blue-400
      -->
      <button
        class="flex flex-col items-center text-center lg:w-40 cursor-pointer hoverable:hover:bg-blue-100 hoverable:dark:hover:bg-gray-700 rounded p-2 lg:p-4"
        v-class:text-gray-600="mode !== '<%= option.mode %>'"
        v-class:dark:text-gray-300="mode !== '<%= option.mode %>'"
        v-class:text-blue-600="mode === '<%= option.mode %>'"
        v-class:dark:text-blue-400="mode === '<%= option.mode %>'"
        v-event:click="setMode('<%= option.mode %>')"
        v-event:keydown.esc="closeModal"
        aria-label="Choose the '<%= option.mode %>' dark mode setting"
        v-ref="<%= option.mode %>"
      >
        <% if (!!option.icon.light) { %>
          <div v-if="!systemDark">
            <%- include(`/icons/${option.icon.light}`, { size: 28 }) %>
          </div>
          <div v-if="systemDark">
            <%- include(`/icons/${option.icon.dark}`, { size: 28 }) %>
          </div>
        <% } else { %>
          <%- include(`/icons/${option.icon}`, { size: 28 }) %>
        <% } %>
        <!--
          text-blue-700
          dark:text-blue-400
        -->
        <p
          class="font-mono mt-4"
          v-class:text-blue-700="mode === '<%= option.mode %>'"
          v-class:dark:text-blue-400="mode === '<%= option.mode %>'"
        ><%= option.label %></p>
        <p class="text-sm text-black dark:text-white mt-2"><%= option.description %></p>
      </button>
    <% }); %>
  </div>
</div>