<%
  let wrapperClass;
  if (idx % 2 !== 0)
    wrapperClass ='col-start-7';
%>

<div class="col-span-5 <%= wrapperClass %>">
  <div class="h-64">
    <% if (!!image) { %>
      <div class="h-full w-full border-2 rounded-t-lg bg-white dark:bg-gray-900 object-cover flex items-center justify-center p-4 overflow-hidden">
        <img
          src="<%= image.src.light %>"
          alt="<%= image.alt %>"
          v-if="!darkMode"
        />
        <img
          src="<%= image.src.dark %>"
          alt="<%= image.alt %>"
          v-if="darkMode"
        />
      </div>
    <% } else { %>
      <%- include('/projects/vivere') %>
    <% } %>
  </div>
  <p class="font-semibold font-serif text-3xl lg:text-4xl mt-8"><%= title %></p>
  <p class="text-lg lg:text-2xl mt-4"><%= description %></p>
  <p class="font-mono text-sm text-gray-600 dark:text-gray-300 mt-4"><%= tech %></p>
  <div class="flex items-center mt-4 space-x-4">
    <% if (!!github) { %>
      <a
        class="icon-link-blue py-1"
        href="<%= github %>"
        aria-label="Link to GitHub"
      >
        <%- include('/icons/github', { size: 24 }) %>
      </a>
    <% } %>
    <% if (!!npm) { %>
      <a
        class=icon-link-blue
        href="<%= npm %>"
        aria-label="Link to npm"
      >
        <%- include('/icons/npm', { size: 32 }) %>
      </a>
    <% } %>
    <% if (!!website) { %>
      <a
        class="icon-link-blue py-1"
        href="<%= website %>"
        aria-label="Link to Website"
      >
        <%- include('/icons/web', { size: 24 }) %>
      </a>
    <% } %>
  </div>
</div>