<%
  let wrapperClass;
  if (idx % 2 !== 0)
    wrapperClass ='col-start-7';
%>

<div class="col-span-5 <%= wrapperClass %>">
  <div class="h-64">
    <%- include('/projects/vivere') %>
  </div>
  <p class="font-semibold font-serif text-3xl lg:text-4xl mt-8"><%= title %></p>
  <p class="text-lg lg:text-2xl mt-4"><%= description %></p>
  <p class="font-mono text-sm text-gray-600 dark:text-gray-300 mt-4"><%= tech %></p>
  <div class="flex items-center mt-4 space-x-4">
    <% if (!!github) { %>
      <a
        class="icon-link-blue py-1"
        href="<%= github %>"
        aria-label="Link to GitHub"
      >
        <%- include('/icons/github', { size: 24 }) %>
      </a>
    <% } %>
    <% if (!!website) { %>
      <a
        class="icon-link-blue py-1"
        href="<%= website %>"
        aria-label="Link to Website"
      >
        <%- include('/icons/web', { size: 24 }) %>
      </a>
    <% } %>
    <% if (!!npm) { %>
      <a
        class=icon-link-blue
        href="<%= npm %>"
        aria-label="Link to npm"
      >
        <%- include('/icons/npm', { size: 32 }) %>
      </a>
    <% } %>
  </div>
</div>